.searchBar-wrap {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 12px 10px;
  border-radius: 15px;
  background: transparent;
  margin-bottom: 10px;
}
.searchBar-icon {
  color: rgba(0, 0, 0, 0.26);
  margin-right: 2rem;
}

.searchBar-wrap input {
  font-size: 1.2rem;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
}

.searchBar-wrap input::placeholder {
  color: rgba(0, 0, 0, 0.26);
}

@media only screen and (max-width: 650px) {
  .searchBar-wrap {
    margin: 0;
    width: 100%;
    background: #ffffff54;
    padding: 8px;
    border: 1px solid #fff;
  }
  .searchBar-wrap input::placeholder {
    font-size: 20px;
    color: #fff;
  }
}
